body, html {
    height: 100%;
}

body {
    min-height: 100vh;
    background: #1487cb;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";;
    color: white;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
}

.bg {
    background: linear-gradient(to bottom, #1487cb 25%, #1f5cc0 100%);
}

.intro {
    margin-top: 100px;
}

.intro img {
    width: 100px;
}

.intro p {
    color: #bbe5ff;
}

h2 {
    font-size: 25px;
    font-weight: 300;
}

.relative-top {
    padding-bottom: 15px;
}

.card-block {
    background-color: rgba(0, 0, 0, 0.25);
}

.text-white {
    font-size: 20px;
}

.btn-1 {
    border-radius: 5px;
    padding: 12px 30px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.btn-2 {
    background-color: #002f7d;
    border-radius: 5px;
    padding: 12px 30px;
    margin-left: 10px;
}

.btn-gradient {
    background: linear-gradient(to right, rgb(31, 95, 194) 0%, rgb(0, 191, 254) 100%);
    border: none;
    font-size: 16px;
}

section {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 68%, rgba(0, 0, 0, 0) 100%);
    padding: 150px 0;
}

.measure {
    background-image: url('../../assets/images/weakspot-mesuer-empreinte-web.jpg');
    background-size: cover;
}

.prevent {
    background-image: url('../../assets/images/weakspot-mesuer-empreinte (1).jpg');
    background-size: cover;
    margin-left: 0px;
}


footer .bg-dark {
    background-color: #272727 !important;
}

.hundred {
    font-size: 80px;
}

.thirty {
    font-size: 80px;
}

.twenty {
    font-size: 80px;
}

.mail {
    font-size: 26px;
}

.update {
    font-size: 26px;
}

.admin {
    font-size: 26px;
}
